//- DATA :: START

-
  var dataObj = {
    nav: [
      {
        href: "#",
        val: "Home"
      },
      {
        href: "#about",
        val: "About Us"
      },
      {
        href: "#holdings",
        val: "Holdings"
      },
      {
        href: "#clients",
        val: "Clients"
      },
      {
        href: "#investors",
        val: "For Investors"
      },
      {
        href: "#contact",
        val: "Contact Us"
      },
      {
        href: "jobs.html",
        val: "Jobs"
      }
    ],
    social: []
  };

//- DATA :: END