// COMMON :: START

// title
.title {
  color: $c-black;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
// title :: end


// btn
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  background-color: $c-009bed;
  color: $c-white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  @include transition(background-color, color);

  &:hover {
    background-color: $c-white;
    color: $c-009bed;
    @include transition(background-color, color);
  }
}
// btn :: end


// copyright
.copyright {
  p {
    color: $c-white;
    font-size: 11px;
  }
}
// copyright :: end


// address
.address {
  color: $c-white;

  &__text {
    padding-bottom: 20px;
    line-height: 1.6;
  }

  &__phone-wrap {
    padding-bottom: 10px;
  }

  a,
  p {
    color: $c-white;
    font-size: 12px;
  }
}
// address:: end

// COMMON :: END