// CLIENTS :: START

.clients {
  padding-top: 120px;
  padding-bottom: 80px;
  @include respond(max-wide-medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include respond(max-extra-large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include respond(max-medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include respond(max-small) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .c-grid-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 1920px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;

    &.is-show {
      animation-fill-mode: both;
      animation-duration: 1s;
      animation-name: fadeInCustom;
      display: flex !important;
    }

    &-1 {
      display: none;
    }

    &-wrapper {
      position: relative;
      padding-top: 60px;
      padding-bottom: 60px;
      @include respond(max-wide-medium) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      @include respond(max-extra-large) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      @include respond(max-medium) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    &-img {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 6);
      height: 320px;
      padding-left: 30px;
      padding-right: 30px;
      @include transition(background-color);
      @include respond(max-wide-medium) {
        height: 250px;
      }
      @include respond(max-extra-large) {
        height: 220px;
      }
      @include respond(max-medium) {
        height: 150px;
      }
      @include respond(max-small) {
        width: calc(100% / 3);
      }
      @include respond(max-extra-small) {
        width: calc(100% / 2);
      }


      img {
        display: block;
        max-width: 100%;
        height: auto;
        @include transition(filter);
      }

      &--mpt {
        &:hover {
          background-color: #ffcb00;
        }
      }
      &--unilever {
        &:hover {
          background-color: #3534b2;
        }
      }
      &--ananda {
        &:hover {
          background-color: $c-8eca41;
        }
      }
      &--kbz {
        &:hover {
          background-color: #1300b2;
        }
      }
      &--ooredoo {
        &:hover {
          background-color: #ff0006;
        }
      }
      &--cdsg {
        &:hover {
          background-color: #383837;
        }
      }

      &:hover {
        @include transition(background-color);

        img {
          filter: brightness(0) invert(1);
          @include transition(filter);
        }
      }
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;

    a {
      width: 16px;
      height: 16px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 100%;
      background-color: $c-999;
      @include transition(background-color);

      &.is-active {
        background-color: $c-009bed;
        @include transition(background-color);
      }
    }
  }
}

@keyframes fadeInCustom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// CLIENTS :: END