// CONTACT :: START

.contact {
  padding-top: 120px;
  padding-bottom: 120px;
  @include respond(max-wide-medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include respond(max-extra-large) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include respond(max-medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    padding-bottom: 55px;
    text-transform: uppercase;
    @include respond(max-wide-medium) {
      padding-bottom: 30px;
    }
    @include respond(max-extra-large) {
      padding-bottom: 25px;
    }
    @include respond(max-medium) {
      padding-bottom: 30px;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    font-size: 18px;
    @include respond(max-small) {
      font-size: 16px;
    }

    &:first-child {
      padding-bottom: 10px;
    }

    &:last-of-type {
      padding-bottom: 62px;
      @include respond(max-wide-medium) {
        padding-bottom: 30px;
      }
      @include respond(max-extra-large) {
        padding-bottom: 25px;
      }
      @include respond(max-medium) {
        padding-bottom: 30px;
      }
      @include respond(max-small) {
        font-size: 14px;
      }
    }

    span {
      color: $c-ff0303;
    }
  }
}

// CONTACT :: END