// HEADER :: START

header#header.header
  .c-grid
    .header__wrapper

      .header__wrapper-left
        include ../macros/_logotype

        .header__line.header__line-0

      .header--mobile
        .header__wrapper-middle
          include ../macros/_nav

        .header__wrapper-right
          .header__line.header__line-1
          include ../macros/_lang

// HEADER :: END