---
title: MMOne
favicon: favicon

contentClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    //include ./components/common/_main
    include ./components/home/_about
    include ./components/home/_holdings
    include ./components/home/_clients
    include ./components/home/_investors
    include ./components/home/_contact