---
title: MMOne - Jobs
favicon: favicon

contentClassName: jobs
dataPageName: jobs

additionalStyleFile: false
---
extends shared/_layout

block content
  div(class!= contentClassName)

    include ./components/jobs/_table
