// LANGUAGE :: START

.lang {
  cursor: pointer;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 19px;
  }

  &__link {
    padding-left: 3px;
    padding-right: 3px;
    color: $c-999;
    @include transition(color);

    &.is-active {
      color: $c-009bed;
      @include transition(color);
    }

    &:hover {
      color: $c-009bed;
      @include transition(color);
    }

    &-wrap {
      display: flex;
    }
  }
}

// LANGUAGE :: END