// LOGOTYPE :: START

.logo {
  &--header {
    .logo__link {
      color: $c-63bded;

      span {
        color: $c-009bed;
      }

      &:hover {
        color: $c-009bed;
        @include transition(color);
      }
    }
  }

  &--footer {
    padding-bottom: 10px;

    .logo__link {
      color: $c-white;
      @include respond(max-small) {
        justify-content: center;
      }
    }
  }

  &__link {
    display: flex;
    line-height: 1;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    @include transition(color);

    span {
      font-weight: 700;
    }
  }
}

// LOGOTYPE :: END