// LOGOTYPE :: START

.logo {
  &__link {
    display: flex;
    color: $c-63bded;
    line-height: 1;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    @include transition(color);

    &:hover {
      color: $c-009bed;
      @include transition(color);
    }

    span {
      color: $c-009bed;
      font-weight: 700;
    }
  }
}

// LOGOTYPE :: END