// MAIN :: START

.main {
  position: relative;
  min-height: 550px;
  height: calc(100vh - 68px);
  padding-top: 50px;
  background-image: url("../img/img-main-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include respond(max-wide-small) {
    padding-top: 30px;
  }
  @include respondCustom((max-height:900px)) {
    padding-top: 30px;
  }
  @include respond(max-small) {
    height: auto;
    min-height: auto;
    padding-top: 15px;
  }

  &__block {
    width: 100%;
    max-width: 766px;
    min-height: 516px;
    margin-left: auto;
    margin-right: -100px;
    padding: 92px 98px;
    background-color: rgba($c-1d4e89, 0.95);
    @include respond(max-wide-small) {
      z-index: 1;
      position: relative;
      min-height: auto;
      padding: 30px;
      margin-right: 0;
    }
    @include respondCustom((max-height:900px)) {
      z-index: 1;
      position: relative;
      min-height: auto;
      padding: 30px;
      margin-right: 0;
    }
    @include respond(max-small) {
      max-width: 100%;
      padding: 15px !important;
    }

    .home & {
      @include respond(wide-large) {
        padding-right: 90px;
      }
      @include respondCustom((max-height:900px)) {
        padding-right: 30px;
      }
    }

    &-title {
      padding-bottom: 15px;
      color: $c-white;
      font-size: 30px;
      font-weight: 500;
      @include respond(max-small) {
        font-size: 17px;
      }

      span {
        display: block;
        text-transform: uppercase;
        font-weight: 900;
        @include respond(max-small) {
          font-size: 20px;
        }
      }
    }

    &-text {
      padding-bottom: 60px;
      color: $c-d5effd;
      font-size: 18px;
      @include respond(max-wide-small) {
        padding-bottom: 30px;
      }
      @include respondCustom((max-height:900px)) {
        padding-bottom: 30px;
      }
      @include respond(max-small) {
        font-size: 14px;
      }

      a {
        color: $c-009bed;
      }
    }
  }

  &__info {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 212px;
    @include respond(max-small) {
      position: relative;
      width: calc(100% + 30px);
      min-height: auto;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 30px;
      background-color: rgba($c-black, 0.6);
    }

    &.is-start-animation {
      .main__info-block {
        z-index: 2;
        position: relative;
        transform: translateY(0);
        @include transition(transform 0.55s);

        &-0 {
          transition-delay: 0s;
        }
        &-1 {
          transition-delay: 0.225s;
        }
        &-2 {
          transition-delay: 0.45s;
        }
      }
    }

    &-btn {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include respond(max-small) {
        display: flex;
      }

      &--left {
        left: 10px;
      }
      &--right {
        right: 10px;

        .icon-png {
          transform: rotate(180deg);
        }
      }

      .icon-png {
        display: block !important;
      }

      &.is-disabled {
        opacity: 0.75;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    &-wrap,
    &-extra {
      display: flex;
      width: 100%;
      max-width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    &-wrap {
      min-height: 212px;
      @include respond(max-small) {
        min-height: auto;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
    &-extra {
      z-index: 0;
      position: absolute;
      align-items: flex-end;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @include respond(max-small) {
        display: none;
      }

      &.is-hover {
        .main__info-box {
          transform: translateY(0);
          @include transition(transform);
        }
      }
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 3);
      height: 75px;
      padding: 10px 15px;
      transform: translateY(70px);
      box-shadow: 0 -2px 10px 0 rgba($c-black, 0.15);
      @include transition(transform);
      @include respond(max-small) {
        display: none;
      }

      &.is-default {
        transform: translateY(0) !important;
        @include transition(transform 0.55s);
      }
      &.is-hide {
        transform: translateY(70px) !important;
        @include transition(transform);
      }

      &-0 {
        background-color: #ff000f;
      }
      &-1 {
        background-color: #6e2c9f;
      }
      &-2 {
        background-color: $c-white;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-block {
      position: relative;
      width: calc(100% / 3);
      padding: 30px 15px;
      transform: translateY(100%);
      background-color: rgba($c-black, 0.6);
      @include transition(transform 0.75s);
      @include respond(max-small) {
        display: none;
        width: 100%;
        padding: 15px 0;
        transform: translateY(0);
        background-color: transparent;
      }

      &:after {
        content: "";
        z-index: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        @include respond(max-small) {
          display: none;
        }
      }

      &-0 {
        @include respond(max-small) {
          display: block;
        }
        &:after {
          background-color: #ff000f;
        }
      }
      &-1 {
        &:after {
          background-color: #6e2c9f;
        }
      }
      &-2 {
        &:after {
          background-color: #f4c400;
        }
      }

      &.is-show {
        z-index: 2;
        transform: translateY(0);
        @include transition(transform);
      }
    }

    &-cover {
      display: flex;
      flex-direction: column;
    }

    &-title {
      padding-bottom: 10px;
      color: $c-white;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      @include respond(max-small) {
        order: 1;
        text-align: left;
      }
      @include respond(max-extra-small) {
        font-size: 14px;
      }
    }

    &-img {
      margin-bottom: 15px;
      @include respond(max-small) {
        display: none;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        @include respond(max-small) {
          margin-left: 0;
        }
      }
    }

    &-text {
      width: 100%;
      @include respond(max-small) {
        order: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      p {
        width: 100%;
        padding-bottom: 15px;
        color: $c-white;
        text-align: center;
        font-size: 12px;
        @include respond(max-small) {
          max-width: calc(100% - 60px);
          padding-bottom: 0;
          text-align: left;
        }
      }

      img {
        display: none;
        @include respond(max-small) {
          display: block;
          height: 45px;
        }
      }
    }

    .icon-png {
      display: flex;
      justify-content: center;
      @include respond(max-small) {
        display: none;
      }
    }
  }
}

// MAIN :: END