// NAV :: START

mixin navlink(classMod, hrefVal, nameVal, anchorName)
  li.nav__item
    a.nav__link(
      href= hrefVal
      title= nameVal
      class!= " " + classMod + " " + (anchorName) ? "anchor-js": ""
      nav-js
    )!= nameVal

nav.nav
  ul.nav__list
    each val, idx in dataObj.nav
      if(contentClassName === "jobs" && idx === 6)
        +navlink("is-active", dataObj.nav[idx].href, dataObj.nav[idx].val, "")
      else
        +navlink("", dataObj.nav[idx].href, dataObj.nav[idx].val, "anchor-js")

// NAV :: END